@model HomeViewModel


<partial name="_Carousel" />
<h2>Os Preferidos da semana!!</h2>
<h4>Tá com FOME ???</h4>

<div class="row">
    <!--vamos percorrer o modelo que contem os lanches preferidos-->
    @foreach(var lanche in Model.LanchesPreferidos)
    {
        <partial name="_LanchesResumo" for = "@lanche"/>
    }

</div>