<div class="container">
    <img src="/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="/images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="lucalmr@gmail.com" conteudo="Enviar um e-mail"></email> </h5>
            <br />
            <span>
                <img src="/images/phone-app-icon.png" />

            </span>
            <h5>(27) 99999-5555</h5>
            <br />
            <span>
                <img src="/images/Home-iconred.png" />
            </span>
            <h5>Rua Daniel Batista 00 - 29162-003 - Vitoria-ES</h5>
        </p>
    </div>
</div>